page-main {
  .home-banner {
      height:150px;
  }
    .scroll-content{
        padding:0!important;
  }
  .entry__list___2fOjG {
    padding-bottom: .21333rem;
  }
  .entry__list___2fOjG li {
    width: 20%;
    float: left;
  }
  .entry__list___2fOjG .entry__link___1CXIA {
    display: block;
    text-align: center;
    padding-bottom: .05333rem;
  }
  .entry__list___2fOjG .entry__link___1CXIA>div {
    display: block;
    height: 6rem;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    margin-bottom: 0.6rem;
  }
  .entry__list___2fOjG strong {
    font-weight: 400;
    color: #666;
    font-size: 1rem;
   }
}
